* {
    margin: 0;
    padding: 0;
}

body {
    width: 900px;
    background-color: #FFEBCD;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 24px;
}

footer {
    margin-top: 64px;
    margin-bottom: 32px;
    text-align: center;
}

nav {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

nav a {
    font-family: 'Crafty Girls', cursive;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

p {
    font-family: 'Crafty Girls', cursive;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 160%;
    color: #B87D62;
}

h1 {
    font-size: 64px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    color: #A0522D;
}

h2 {
    font-size: 28px;
    font-family: 'Caveat Brush', cursive;
    color: #AE6C4C;
    margin-left: 40px;
    margin-top: 20px;
}

ul,
ol {
    font-size: 16px;
    margin-left: 32px;
    font-family: 'Crafty Girls', cursive;
    color: #B87D62;
}

img {
    border-radius: 0.25em;
    width: 100%;
}

iframe {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

a {
	display: inline;
    color: #A0522D;
    text-decoration: none;
}

a:hover {
    color: #C18F76;
}

.active {
	color: #C18F76;
	text-decoration: underline;
}

#homepage {
    column-count: 2;
    column-gap: 24px;
}

#photo-grid {
    margin-top: 16px;
    column-count: 3;
    column-gap: 24px;
}

#photo-grid img {
    margin-top: 10px;
}

.picture {
    float: right;
    margin-left: 20px;
    width: 350px;
    border: 4px solid #f7f7f7;
}

.picture1 {
    float: left;
    margin-right: 20px;
    width: 350px;
    border: 4px solid #f7f7f7;
}

